<!doctype html>
<html>

<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<title>Blacksquare</title>
	<link rel="stylesheet" href="../static/styles.css" type="text/css">
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Oswald:400,300" type="text/css">

	<script>
            function search(){
            	query = document.getElementById('text').value
                if(query.slice(0, 7) === "http://"){
                    window.location.href = query
                }
                else{
                    window.location.href = "http://yandex.ru/search/?text=" + query
                }
            }
	</script>
</head>

<body>
<!--need to fix it-->
	<form onkeyup="search();">
		<input id="text" type="text"/>
		<input type="submit" value="Submit" />
	</form>
</body>
</html>